* {
box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    
}

main {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;

}
.header h1 {
    display: flex;
    justify-content: center;
    padding: 50px;
    background: gray;
    color: aliceblue;
}

.header h1 div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-left: 20;
    flex-direction: row;
}


.main section {
    flex: 1 0 0;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    background: black;



}

 main section h2 {
    padding: 30px;
    background: black;
    color: white;

}
